{{ define "index" }}

{{ template "header" }}

<main role="main" class="inner cover">
  <style>
    .gallery {
      display: flex;
      justify-content: space-between;
    }
    .gallery img {
      width: 100%;
      height: auto;
    }
  </style>
  </head>
  <body>
  <section class="section section-first first-screen gallery">
    <div class="row">
      <div class="col">
          <img src='image/1.jpg'>
           <img src='image/2.jpg'>
          <img src='image/3.jpg'>
          <img src='image/4.jpg'>
      </div>
  </section>
    {{ range . }}
    <div class="alert alert-danger">
    <h2>{{ .Title }}</h2>
    <p>{{ .Anons }}</p>
    </div>
    {{ else }}

    {{ end }}

  </main>
  
{{ template "footer" }}

  {{ end }}
